# Données
data/
*.csv
*.tar
*.json
*.json.gz
*.parquet

# Modèles volumineux
models/

# Environnement Python
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]

# Secrets
.env
*.key
*.pem

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Système
.DS_Store
Thumbs.db